
body {
    background-image: url(../Imagenes/diseWeb.png);
    background-repeat: no-repeat;
    background-size: cover;
    height:100%;
}


a {
    color: #fff;
    margin-top: 30px;
}

.letras {
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-weight: 400; 
    font-size: 15px;

}
.CentraTexto {
    text-align: center;
    color: #1F2937;

}
#BtnIngresar {
    border-radius: 100px;
    color: #fff;
    background: #1F2937;
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

#BarraSuperior {
    background-color: #E02957;
    width: 100%;
}

#EstiloIzq {
    text-align: left;
    padding: 3px;
    
}

#EstiloDer{
    text-align: right;
    padding: 3px;
}

#pie {
    background-color: #1F2937;
    position: static;
    bottom: 0;
    width: 100%;
    height: 60px;
}

#Contenedor {

    padding: 3px;
    margin: auto;
    margin-left: 1280px;
    margin-top: 300px;
    width: 400px;
    height: 550px;
    background-color: #E02957;
    border-radius: 100px;
    position:absolute;
}



#background {
    width: 100%;
    text-align: center;
    color: #fff;
}

#tbPassword {
    background-color: #9A2845;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color:white;
}
#tbUsuario {
    background-color: #9A2845;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
.titulo1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    color: #1F2937;
    position: absolute;
    margin-top: 300px;
    margin-right: 800px;
    margin-left: 270px;
    font-size: 90px;
}
.titulo2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    color: #1F2937;
    font-size: 90px;
    position:absolute;
    margin-top:750px;
    margin-left:170px
}